spring:
  datasource:
    url: jdbc:postgresql://localhost:5433/device_db
    username: postgres
    password: postgres

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  liquibase:
    enabled: true
    change-log: classpath:db_changelog/db.changelog-master.xml

logging:
  level:
    org.hibernate.SQL: debug